<form action="/ames/create" method="post">
    <label for="nom">Nom</label>
    <input type="text" name="nom">
    <label for="prenom">Prenom</label>
    <input type="text" name="prenom">
    <label for="motdepasse">Mot de passe</label>
    <input type="text" name="motdepasse" id="">
    <div class="sakramenta">
        <label for="batemy">batemy</label>
        <input type="checkbox" name="batemy">
        <label for="komonio">Komonio</label>
        <input type="checkbox" name="komonio">
        <label for="fankaherezana">Fankaherezana</label>
        <input type="checkbox" name="fankaherezana">
        <label for="confirmation">Confirmation</label>
        <input type="checkbox" name="confirmation">
        <label for="mariazy">Mariazy</label>
        <input type="checkbox" name="mariazy">
        <label for="maty">Maty</label>
        <input type="checkbox" name="maty">
    </div>
    <button type="submit">Submit</button>
</form>